<div class="column animated" v-if="business">
    <div class="is-ancestor tile">
      <div class="tile is-parent column is-half is-offset-one-quarter">
        <article class="tile is-child box">
          <h1 class="title">{{business[0].id ? 'Edit' : 'Add New'}} Business Details </h1>
          <div class="block">
            <input type="hidden" v-model="business[0].id"
            <label class="label">Name</label>
            <p class="control">
              <input class="input" type="text" placeholder="name" v-model="business[0].name">
            </p>
            <label class="label">County</label>
            <p class="control">
              <input class="input" type="text" placeholder="County" v-model="business[0].county">
            </p>
            <label class="label">City</label>
            <p class="control">
              <input class="input" type="text" placeholder="City" v-model="business[0].city">
            </p>
            <label class="label">Street</label>
            <p class="control">
              <input class="input" type="text" placeholder="Street" v-model="business[0].street">
            </p>
            <p class="control">
              <button class="button is-success" v-on:click="onUpdate(business[0])">
                {{business[0].id ? 'Update' : 'Add'}} business
              </button>
            </p>
          </div>
        </article>
      </div>
    </div>
  </div>
