<div class="tile is-ancestor">
  <div class="tile is-parent">
    <article class="tile is-child box">
      <h4 class="title">Current Products in the Stock</h4>
      <div class="table-responsive">
        <table class="table is-bordered is-striped is-narrow">
          <thead>
            <tr>
              <th>Code</th>
              <th>Name</th>
              <th>Unit Price</th>
              <th>Available Units</th>
              <th colspan="3">Links</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="is-icon">
                <i class="fa fa-android"></i>
              </td>
              <td>
                <a href="#">Android</a>
              </td>
              <td>
                2003
              </td>
              <td class="is-icon">
                <a href="#">
                  <i class="fa fa-trash"></i>
                </a>
              </td>
              <td class="is-icon">
                <a href="#">
                  <i class="fa fa-pencil"></i>
                </a>
              </td>
              <td class="is-icon">
                <a href="#" title="view more">
                  <i class="fa fa-plus"></i>
                </a>
              </td>
            </tr>
            <tr>
              <td class="is-icon">
                <i class="fa fa-firefox"></i>
              </td>
              <td>
                <a href="#">Firefox</a>
              </td>
              <td>
                2003
              </td>
              <td class="is-icon">
                <a href="#">
                  <i class="fa fa-github"></i>
                </a>
              </td>
              <td class="is-icon">
                <a href="#">
                  <i class="fa fa-twitter"></i>
                </a>
              </td>
              <td class="is-icon">
                <a href="#">
                  <i class="fa fa-globe"></i>
                </a>
              </td>
            </tr>
            <tr>
              <td class="is-icon">
                <i class="fa fa-linux"></i>
              </td>
              <td>
                <a href="#">Linux</a>
              </td>
              <td>
                2003
              </td>
              <td class="is-icon">
                <a href="#">
                  <i class="fa fa-github"></i>
                </a>
              </td>
              <td class="is-icon">
                <a href="#">
                  <i class="fa fa-twitter"></i>
                </a>
              </td>
              <td class="is-icon">
                <a href="#">
                  <i class="fa fa-globe"></i>
                </a>
              </td>
            </tr>
            <tr>
              <td class="is-icon">
                <i class="fa fa-wordpress"></i>
              </td>
              <td>
                <a href="#">WordPress</a>
              </td>
              <td>
                2003
              </td>
              <td class="is-icon">
                <a href="#">
                  <i class="fa fa-github"></i>
                </a>
              </td>
              <td class="is-icon">
                <a href="#">
                  <i class="fa fa-twitter"></i>
                </a>
              </td>
              <td class="is-icon">
                <a href="#">
                  <i class="fa fa-globe"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </article>
  </div>
</div>
